.row-dragging {
  background: #fafafa;
}

.row-dragging td {
  padding-top: 5px;
  padding-left: 40px;
  visibility: hidden;
}

.row-dragging td:nth-child(1), .row-dragging td:nth-child(3) {
  visibility: visible !important;
  font-weight: bold;
}

.row-dragging .drag-visible {
  visibility: visible;
}