.graph-container {
  font-family: "Roboto", sans-serif;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.element-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -8px;
  top: -4px;
  background: #ccc;
  z-index: 999;
  border: 2px solid #fff;
}

.element-graphic {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: gray;
  border: 1px solid rgb(255, 255, 255, 0);
  cursor: pointer;
  margin-top: 15px;
}

.element-graphic .overlay {
  width: 55px;
  height: 55px;
  position: absolute;
  background-color: #000;
  opacity: 0;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.element-graphic .overlay-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  border: 3px solid #ff4d4f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  z-index: 1;
}

.element-graphic.hover .overlay {
  opacity: 0.3;
}

.element-graphic.has-error .overlay-error {
  opacity: 1;
}

.element-graphic.Invalid {
  background: #fffbe6;
  border: 1px solid #ffe58f;
}

.element-graphic.Running {
  background: #b7eb8f;
  border: 1px solid #8ae346;
}

.element-graphic.Stopped {
  background: #ffccc7;
  border: 1px solid #ff4d4f;
}

.element-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #454545;
  background-color: rgb(235, 235, 235, 1);
  padding: 1px 6px;
  margin-top: 5px;
  border-radius: 1px;
}

.group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.group-graphic {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  width: 150px;
  height: 100px;
  background: #d1c5f6;
  margin-top: 16px;
  border: 1px solid #c6b5f8;
  cursor: pointer;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.group-graphic .stats {
  display: flex;
  gap: 0.5rem;
  background: white;
  width: 100%;
  padding: 5px 0;
  justify-content: center;
  border-bottom: 1px solid #c6b5f8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.group-graphic .stats .stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  padding: 0 5px;
}

.group-graphic.hover > .overlay {
  width: 150px;
  height: 100px;
  position: absolute;
  background-color: #000;
  opacity: 0.1;
  border-radius: 8px;
}

.group-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  max-width: 150px;
  color: #454545;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
}

.ioport {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.ioport-graphic {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background: white;
  border: 3px solid gray;
  cursor: pointer;
  margin-top: 15px;
}

.ioport-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #454545;
  background-color: rgb(235, 235, 235, 1);
  padding: 1px 6px;
  margin-top: 5px;
  border-radius: 1px;
}

/** CONTEXTUAL MENU **/
.graph-container .custom-menu-item {
  position: relative;
  border: none !important;
  height: 32px !important;
  max-width: 250px !important;
  padding-left: 35px !important;
  padding-right: 15px !important;
  color: rgb(0, 0, 0, 0.87) !important;
  background-color: #fafafa !important;
  font-weight: normal;
  font-size: 14px;
  text-align: left !important;
  box-shadow: none !important;
  cursor: pointer;
  width: 100%;
}

.graph-container .custom-menu-item img {
  width: 1rem;
  height: auto;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.graph-container .custom-menu-item:hover {
  background-color: #c8c8c8 !important;
}

.graph-container .custom-context-menu {
  border: none !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #fafafa !important;
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.12),
    0px 8px 8px 0px rgb(0, 0, 0, 0.24) !important;
}
