.noArrow > .ant-calendar > .ant-calendar-panel > .ant-calendar-date-panel > .ant-calendar-header > div > .ant-calendar-prev-year-btn, 
.noArrow > .ant-calendar > .ant-calendar-panel > .ant-calendar-date-panel > .ant-calendar-header > div > .ant-calendar-next-year-btn
{
	display: none;
}
