.ant-menu-submenu-popup .ant-menu {
  background-color: #2e3c5a;
}

.ant-menu-submenu-hidden {
  display: none;
}

.ant-zoom-big-leave {
  opacity: 0;
}

.ant-tooltip-inner .nav-text span:last-child {
  margin-left: 10px;
}
