name: Deploy Development
on:
  push:
    branches: [ develop ]    
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: yarn install
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install
    - name: yarn build
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: build
      env: 
        REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
        REACT_APP_SITE_TITLE: ${{ secrets.REACT_APP_SITE_TITLE }}
        REACT_APP_UPDOWN_LINK: ${{ secrets.REACT_APP_UPDOWN_LINK }}
        REACT_APP_PRISMIC_API_URL: ${{ secrets.REACT_APP_PRISMIC_API_URL }}
        REACT_APP_PRISMIC_TOKEN: ${{ secrets.REACT_APP_PRISMIC_TOKEN }}
    - name: yarn test
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: test
    - name: deploy to AWS
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SOURCE_DIR: 'build'
